In [1]:
import pandas as pd
import wrangle as w

import warnings
warnings.filterwarnings('ignore')

In [2]:
season_2024 = w.nfl_data_scrape()
season_2024

Enter the first year of the season you want to collect data from:  2024
Enter the last year of the season you want to collect data from:  2024
Enter a filename for this data to save as a csv file (no need to add extenison of file):  testing_file

Number Of Seasons = 1
Number Of Teams = 32

Processing NFL Seasons: 100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 32/32 [04:23<00:00,  8.23s/Season]

Data will be saved as: testing_file.csv

,season,team,Week,Day,Date,Unnamed: 3,Unnamed: 4,OT,Unnamed: 6,Opp,...,FGA,XPM,XPA,Pnt,Yds.3,3DConv,3DAtt,4DConv,4DAtt,ToP
0,2024,CRD,1,Sun,September 8,boxscore,L,NaN,@,Buffalo Bills,...,2.0,4.0,4.0,2.0,85.0,3.0,9.0,2.0,2.0,30:30
1,2024,CRD,2,Sun,September 15,boxscore,W,NaN,NaN,Los Angeles Rams,...,1.0,1.0,1.0,4.0,215.0,2.0,11.0,1.0,3.0,23:06
2,2024,CRD,3,Sun,September 22,boxscore,L,NaN,NaN,Detroit Lions,...,0.0,2.0,3.0,5.0,247.0,6.0,12.0,0.0,1.0,36:49
3,2024,CRD,4,Sun,September 29,boxscore,L,NaN,NaN,Washington Commanders,...,2.0,4.0,4.0,1.0,51.0,9.0,12.0,1.0,1.0,33:22
4,2024,CRD,5,Sun,October 6,boxscore,W,NaN,@,San Francisco 49ers,...,3.0,2.0,2.0,1.0,41.0,6.0,11.0,0.0,1.0,32:58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539,2024,WAS,13,Sun,December 1,boxscore,W,NaN,NaN,Tennessee Titans,...,2.0,1.0,1.0,4.0,213.0,5.0,12.0,0.0,1.0,19:47
540,2024,WAS,15,Sun,December 15,preview,NaN,NaN,@,New Orleans Saints,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
541,2024,WAS,16,Sun,December 22,preview,NaN,NaN,NaN,Philadelphia Eagles,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
542,2024,WAS,17,Sun,December 29,preview,NaN,NaN,NaN,Atlanta Falcons,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
543,2024,WAS,18,Sun,January 5,preview,NaN,NaN,@,Dallas Cowboys,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
clean_data = w.clean_data('nfl_data_2024_season_raw_data.csv')
clean_data.head(3)

,season,team,week,day,date,result,ot,host,opp,pts,...,fga_opp,xpm_opp,xpa_opp,pnt_opp,punt_yds_opp,3dconv_opp,3datt_opp,4dconv_opp,4datt_opp,top_opp
0,2024,CRD,1,Sun,September 8,L,no,away,Buffalo Bills,28.0,...,2.0,4.0,4.0,2.0,85.0,3.0,9.0,2.0,2.0,30:30
1,2024,CRD,2,Sun,September 15,W,no,home,Los Angeles Rams,41.0,...,1.0,1.0,1.0,4.0,215.0,2.0,11.0,1.0,3.0,23:06
2,2024,CRD,3,Sun,September 22,L,no,home,Detroit Lions,13.0,...,0.0,2.0,3.0,5.0,247.0,6.0,12.0,0.0,1.0,36:49

In [3]:
df = w.final_cleaned_df(clean_data)

In [4]:
df.head(3)

,game_id,home_team,away_team,date,season,month,week,day_of_week,overtime,home_pts,...,away_4datt,home_top,away_top,pts_diff_home,pass_yds_diff_home,rush_yds_diff_home,top_diff_home,home_total_yds,away_total_yds,home_results
0,2024_1_Kansas City Chiefs_Baltimore Ravens,Kansas City Chiefs,Baltimore Ravens,2024-09-05,2024,9,1,3,0,27.0,...,2.0,1577,2023,7.0,14.0,-113.0,-446,353.0,452.0,1
1,2024_1_Philadelphia Eagles_Green Bay Packers,Philadelphia Eagles,Green Bay Packers,2024-09-06,2024,9,1,4,0,34.0,...,1.0,1967,1633,5.0,15.0,-19.0,334,410.0,414.0,1
2,2024_1_New Orleans Saints_Carolina Panthers,New Orleans Saints,Carolina Panthers,2024-09-08,2024,9,1,6,0,47.0,...,3.0,2199,1401,37.0,64.0,122.0,798,379.0,193.0,1

In [5]:
df.shape

(272, 70)

In [6]:
old_data = pd.read_csv('nfl_data_2000_2023_seasons.csv', parse_dates=['date'], date_format='%Y-%m-%d')

In [7]:
old_data.head(3)

,game_id,home_team,away_team,date,season,month,week,day_of_week,overtime,home_pts,...,away_4datt,home_top,away_top,pts_diff_home,pass_yds_diff_home,rush_yds_diff_home,top_diff_home,home_total_yds,away_total_yds,home_results
0,2000_1_New York Giants_Arizona Cardinals,New York Giants,Arizona Cardinals,2000-09-03,2000,9,1,6,0,21,...,2,1890,1710,5,-140,180,180,395,355,1
1,2000_1_New England Patriots_Tampa Bay Buccaneers,New England Patriots,Tampa Bay Buccaneers,2000-09-03,2000,9,1,6,0,16,...,0,1705,1895,-5,34,-52,-190,278,296,0
2,2000_1_Pittsburgh Steelers_Baltimore Ravens,Pittsburgh Steelers,Baltimore Ravens,2000-09-03,2000,9,1,6,0,0,...,1,1493,2107,-16,-3,-110,-614,223,336,0

In [8]:
old_data.shape

(6175, 70)

In [9]:
old_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6175 entries, 0 to 6174
Data columns (total 70 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   game_id                6175 non-null   object
 1   home_team              6175 non-null   object
 2   away_team              6175 non-null   object
 3   date                   6175 non-null   datetime64[ns]
 4   season                 6175 non-null   int64
 5   month                  6175 non-null   int64
 6   week                   6175 non-null   int64
 7   day_of_week            6175 non-null   int64
 8   overtime               6175 non-null   int64
 9   home_pts               6175 non-null   int64
 10  away_pts               6175 non-null   int64
 11  home_pass_cmp          6175 non-null   int64
 12  away_pass_cmp          6175 non-null   int64
 13  home_pass_att          6175 non-null   int64
 14  away_pass_att          6175 non-null   int64
 15  home_pass_yds          6175 non-null   int64
 16  away_pass_yds          6175 non-null   int64
 17  home_pass_td           6175 non-null   int64
 18  away_pass_td           6175 non-null   int64
 19  home_int               6175 non-null   int64
 20  away_int               6175 non-null   int64
 21  home_sk                6175 non-null   int64
 22  away_sk                6175 non-null   int64
 23  home_yds_lost_sks      6175 non-null   int64
 24  away_yds_lost_sks      6175 non-null   int64
 25  home_yds_pass_att      6175 non-null   float64
 26  away_yds_pass_att      6175 non-null   float64
 27  home_net_yds_pass_att  6175 non-null   float64
 28  away_net_yds_pass_att  6175 non-null   float64
 29  home_cmp%              6175 non-null   float64
 30  away_cmp%              6175 non-null   float64
 31  home_pass_rating       6175 non-null   float64
 32  away_pass_rating       6175 non-null   float64
 33  home_rush_att          6175 non-null   int64
 34  away_rush_att          6175 non-null   int64
 35  home_rush_yds          6175 non-null   int64
 36  away_rush_yds          6175 non-null   int64
 37  home_rush_yds_att      6175 non-null   float64
 38  away_rush_yds_att      6175 non-null   float64
 39  home_rush_td           6175 non-null   int64
 40  away_rush_td           6175 non-null   int64
 41  home_fgm               6175 non-null   int64
 42  away_fgm               6175 non-null   int64
 43  home_fga               6175 non-null   int64
 44  away_fga               6175 non-null   int64
 45  home_xpm               6175 non-null   int64
 46  away_xpm               6175 non-null   int64
 47  home_xpa               6175 non-null   int64
 48  away_xpa               6175 non-null   int64
 49  home_pnt               6175 non-null   int64
 50  away_pnt               6175 non-null   int64
 51  home_punt_yds          6175 non-null   int64
 52  away_punt_yds          6175 non-null   int64
 53  home_3dconv            6175 non-null   int64
 54  away_3dconv            6175 non-null   int64
 55  home_3datt             6175 non-null   int64
 56  away_3datt             6175 non-null   int64
 57  home_4dconv            6175 non-null   int64
 58  away_4dconv            6175 non-null   int64
 59  home_4datt             6175 non-null   int64
 60  away_4datt             6175 non-null   int64
 61  home_top               6175 non-null   int64
 62  away_top               6175 non-null   int64
 63  pts_diff_home          6175 non-null   int64
 64  pass_yds_diff_home     6175 non-null   int64
 65  rush_yds_diff_home     6175 non-null   int64
 66  top_diff_home          6175 non-null   int64
 67  home_total_yds         6175 non-null   int64
 68  away_total_yds         6175 non-null   int64
 69  home_results           6175 non-null   int64
dtypes: datetime64[ns](1), float64(10), int64(56), object(3)
memory usage: 3.3+ MB